.App {
  text-align: center;
  position: relative;
}

.ipContainer {
  position: absolute;
  width: 25vw;
  left: 35vw;
  background-color: #ADEFD1FF;
  display: grid;
  grid-template-columns: 70% auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 2vw;
  transition: all 500ms;
}
.ipContainer:hover {
  padding: 2vw;
}


.inpCon input {
  height: 1.5rem;
  border: 1px solid #aeaeae;
  text-align: center;
  font-size: 1rem;
}

.btn.setIp{
  height: 100%;
  width: 80px;
  border: 0;
  color: #ADEFD1FF;
  background-color: #00203FFF;
  font-size: .8rem;
  cursor: pointer;
}

.graphDiv {
  width: 80vw;
  height: 80vh;
  background-color: rgb(255 255 255);
  padding: 10vh 10vw;
}